@import "../../../styles/common.scss";

$back-color: rgba(236, 153, 232, 0.8);
$hover-color: rgba(255, 255, 255, 0.8);

// Header主体
@mixin flexSkyHeaderCommon($bkg-color) {
  width: 70vw;
  height: 9vh;
  border-radius: 0 0 15px 15px;
  background-color: $bkg-color;

  grid-column: 2/4;
  grid-row: 1;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include song-font-regular;
}

.flexSkyHeader {
  margin-top: 0%;
  @include flexSkyHeaderCommon($back-color);
}

// 输入框样式
.searchInput {
  width: 10%;
  height: 50%;
  margin-left: 12%;
  margin-right: 1%;

  @include song-font-regular;
}

// 按钮样式
@mixin headerButtomCommon($btn-color) {
  background-color: $btn-color;
  font-size: larger;
  color: azure;
  border: 1px $back-color;
  transition: background-color 0.3s;
  box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.1);
  @include song-font-regular;
}

.buttonBack {
}

.homeButton {
  width: 15%;
  height: 65%;
  margin-left: 3%;
  margin-right: 12%;
  @include headerButtomCommon($back-color);
}

.normalButton {
  width: 10%;
  height: 50%;
  margin-left: 3%;
  @include headerButtomCommon($back-color);
}

.styleButton {
  width: 4%;
  height: 50%;
  margin-left: 1%;
  margin-right: 1%;
  @include headerButtomCommon($back-color);
}
