@import "../../styles/common.scss";

.main {
  width: 100vw;
  height: 100vh;
}

// 动画部分
@keyframes bkg-in {
  from {
    filter: opacity(0.3);
  }

  to {
    filter: opacity(1);
  }
}

@keyframes form-login-in {
}

// 标题部分
@mixin flexTitleRowWrapperCommon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 70px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
}

.flexTitleRowWrapperH {
  @include flexTitleRowWrapperCommon;
}

@mixin divTitleCommon($font-size) {
  font-size: $font-size;
  color: azure;
  text-align: center;
  @include song-font-regular;
}

.divTitle {
  @include divTitleCommon(36px);
  align-items: flex-start;
}

// 背景部分
@mixin divLoginWrapperCommon {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
}

.divLoginWrapperH {
  @include divLoginWrapperCommon;
  justify-content: flex-end;
}

@mixin divLoginWrapperBkgCommon($src) {
  background: {
    image: url($src);
    size: cover;
    position: center;
    repeat: no-repeat;
    attachment: fixed;
  }
  animation-name: bkg-in;
  animation-duration: 1000ms;
  animation-timing-function: ease-in;
}

.divLoginWrapperBkgH {
  @include divLoginWrapperBkgCommon("/haru.png");
}

// 登录框部分
@mixin formLoginCommon {
  width: min(475px, 90vw);
  background-color: rgba(242, 159, 212, 0.85);
  border-radius: 15px;

  box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 0.5);

  animation-name: form-login-in;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;

  button[class~="btn-login"] {
    width: 100%;
  }
}

.formLogin {
  padding: 50px;
  padding-bottom: 20px;
  @include formLoginCommon();
}

.formLoginH {
  margin-right: 100px;
}
