@import "../../../../styles/common.scss";

$back-color: rgba(236, 153, 232, 0.8);

// Sider主体
@mixin flexTagCommon {
  width: 40%;
  height: 30%;
  display: flex;
  align-items: flex-start;
  background-color: $back-color;
  border-radius: 15px 15px 15px 15px;

  @include song-font-regular;
}

.flexTag {
  margin-top: 1vh;
  @include flexTagCommon;
}
